/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */








/* 
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
} */

.card{
  width: 250px;
  /* height: 400px; */
  height: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 16px;
  text-align: center;
}

.card > img {
  width: 100%;
}

.shimmer-card{
  width: 250px;
  height: 350px;
  /* height: 100%; */
  background: lightgray;
}

/* .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 16px;
  width: 301px;
  text-align: center;
  background-color: #fff;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 1.5em;
  margin: 16px 0 8px;
  color: #333;
}

.card h3 {
  font-size: 1.2em;
  margin: 8px 0;
  color: #666;
}

.card h4 {
  font-size: 1em;
  margin: 8px 0 16px;
  color: #999;
} */
















.nav-items{
  display: flex;
  justify-content: space-between;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

.nav-items > ul > li {
  padding: 10px;
}

.downarrow {
  height: 2px;
  width: 2px;
}

.logo {
  height: 55px;
}

.name {
  display: flex;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.restaurants .card {
  flex: 1 1 calc(25% - 32px);
  box-sizing: border-box;
}


